name: "Validate and plan"

on:
  pull_request:
    paths:
      - "terraform/**"
      - ".github/workflows/**"
  push:
    branches:
      - "main"
    paths:
      - "terraform/**"
      - ".github/workflows/**"

jobs:
  plan_test:
    name: Test Terraform plan
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: "eu-west-1"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::486283582667:role/github-actions-terraform-ci-plan-read-only
          aws-region: ${{ env.AWS_REGION }}
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.3
      - name: Terraform init
        run: terraform init -input=false
        working-directory: terraform/test
      - name: Terraform validate
        run: terraform validate
        working-directory: terraform/test
      - name: Terraform plan
        run: terraform plan -input=false -refresh=false -lock=false
        working-directory: terraform/test
  plan_staging:
    name: Staging Terraform plan
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      AWS_REGION: "eu-west-1"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::486283582667:role/github-actions-terraform-ci-plan-read-only
          aws-region: ${{ env.AWS_REGION }}
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.3
      - name: Terraform init
        run: terraform init -input=false
        working-directory: terraform/staging
      - name: Terraform validate
        run: terraform validate
        working-directory: terraform/staging
      - name: Terraform plan
        run: terraform plan -input=false -refresh=false -lock=false
        working-directory: terraform/staging
  validate_production:
    name: Validate production Terraform config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.3
      - name: Terraform init
        run: terraform init -input=false -backend=false
        working-directory: terraform/production
      - name: Terraform validate
        run: terraform validate
        working-directory: terraform/production
