name: terraform_deploy_test.yml
run-name: Deploying terraform to test environment

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write
  pull-requests: write

concurrency:
  group: test
  cancel-in-progress: true

jobs:
  reusable_workflow_call:
    name: Call reusable workflow
    uses: communitiesuk/terraform-deployment-workflow/.github/workflows/terraform-deployment.yaml@main
    with:
      AWS_REGION: eu-west-1
      TF_WORKING_DIRECTORY: terraform/test
      ENVIRONMENT: test
      DEPLOYMENT_ROLE: arn:aws:iam::486283582667:role/terraform-test-deployment-role
      DEPLOYMENT_SESSION_NAME: github-actions-test-terraform-deployment
      TERRAFORM_VERSION: 1.3.9
      APP_ID: ${{ vars.APP_ID }}
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
